In [1]:
spark

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7f500563cad0>

# Define schema

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
schema = StructType([
                        StructField(name='year', dataType=IntegerType(), nullable=True),
                        StructField(name='month', dataType=StringType(), nullable=True),
                        StructField(name='day', dataType=IntegerType(), nullable=True),
                        StructField(name='weekday', dataType=StringType(), nullable=True),
                        StructField(name='hour', dataType=IntegerType(), nullable=True),
                        StructField(name='atm_status', dataType=StringType(), nullable=True),
                        StructField(name='atm_id', dataType=StringType(), nullable=True),
                        StructField(name='atm_manufacturer', dataType=StringType(), nullable=True),
                        StructField(name='atm_location', dataType=StringType(), nullable=True),
                        StructField(name='atm_streetname', dataType=StringType(), nullable=True),
                        StructField(name='atm_street_number', dataType=IntegerType(), nullable=True),
                        StructField(name='atm_zipcode', dataType=IntegerType(), nullable=True),
                        StructField(name='atm_lat', dataType=DoubleType(), nullable=True),
                        StructField(name='atm_lon', dataType=DoubleType(), nullable=True),
                        StructField(name='currency', dataType=StringType(), nullable=True),
                        StructField(name='card_type', dataType=StringType(), nullable=True),
                        StructField(name='transaction_amount', dataType=IntegerType(), nullable=True),
                        StructField(name='service', dataType=StringType(), nullable=True),
                        StructField(name='message_code', dataType=StringType(), nullable=True),
                        StructField(name='message_text', dataType=StringType(), nullable=True),
                        StructField(name='weather_lat', dataType=DoubleType(), nullable=True),
                        StructField(name='weather_lon', dataType=DoubleType(), nullable=True),
                        StructField(name='weather_city_id', dataType=IntegerType(), nullable=True),
                        StructField(name='weather_city_name', dataType=StringType(), nullable=True),
                        StructField(name='temp', dataType=DoubleType(), nullable=True),
                        StructField(name='pressure', dataType=IntegerType(), nullable=True),
                        StructField(name='humidity', dataType=IntegerType(), nullable=True),
                        StructField(name='wind_speed', dataType=IntegerType(), nullable=True),
                        StructField(name='wind_deg', dataType=IntegerType(), nullable=True),
                        StructField(name='rain_3h', dataType=DoubleType(), nullable=True),
                        StructField(name='clouds_all', dataType=IntegerType(), nullable=True),
                        StructField(name='weather_id', dataType=IntegerType(), nullable=True),
                        StructField(name='weather_main', dataType=StringType(), nullable=True),
                        StructField(name='weather_description', dataType=StringType(), nullable=True)
                ])

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

# Read the data into a dataframe and verify the records loaded

In [3]:
transactions = spark.read.csv("SRC_ATM_TRANS/part-m-00000", header=False, schema=schema)
transactions.printSchema()
transactions.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

2468572

# Create the dimension and fact tables

### Dimension for card types

In [4]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, col

dim_card_type = transactions.select("card_type").distinct()\
                            .withColumn("card_type_id", 
                                        row_number().over(Window.partitionBy().orderBy(col("card_type"))))\
                            .select("card_type_id", "card_type")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### Validate dim_card_type

In [5]:
dim_card_type.printSchema()
dim_card_type.show()
dim_card_type.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- card_type_id: integer (nullable = true)
 |-- card_type: string (nullable = true)

+------------+--------------------+
|card_type_id|           card_type|
+------------+--------------------+
|           1|              CIRRUS|
|           2|             Dankort|
|           3|     Dankort - on-us|
|           4|         HÃƒÂ¦vekort|
|           5| HÃƒÂ¦vekort - on-us|
|           6|             Maestro|
|           7|          MasterCard|
|           8|  Mastercard - on-us|
|           9|                VISA|
|          10|        Visa Dankort|
|          11|Visa Dankort - on-us|
|          12|            VisaPlus|
+------------+--------------------+

12

### Dimension for dates

In [6]:
from pyspark.sql.functions import concat_ws, lit, unix_timestamp

timestamp_format = "yyyy-MMM-dd HH:mm:ss"

dim_date = transactions.select("year", "month", "day", "hour", "weekday")\
                       .withColumn("full_date_time", 
                                   unix_timestamp(
                                       concat_ws(" ", 
                                                 concat_ws('-', col("year"), col("month"), col("day")), 
                                                 concat_ws(':', col("hour"), lit("00:00"))
                                                ), 
                                       timestamp_format
                                   ).cast("timestamp")
                                  )\
                        .distinct()\
                        .withColumn("date_id", row_number().over(Window.partitionBy().orderBy(col("full_date_time"))))\
                        .select("date_id", "full_date_time", "year", "month", "day", "hour", "weekday")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### Validate dim_date

In [7]:
dim_date.printSchema()
dim_date.show()
dim_date.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)

+-------+-------------------+----+-------+---+----+-------+
|date_id|     full_date_time|year|  month|day|hour|weekday|
+-------+-------------------+----+-------+---+----+-------+
|      1|2017-01-01 00:00:00|2017|January|  1|   0| Sunday|
|      2|2017-01-01 01:00:00|2017|January|  1|   1| Sunday|
|      3|2017-01-01 02:00:00|2017|January|  1|   2| Sunday|
|      4|2017-01-01 03:00:00|2017|January|  1|   3| Sunday|
|      5|2017-01-01 04:00:00|2017|January|  1|   4| Sunday|
|      6|2017-01-01 05:00:00|2017|January|  1|   5| Sunday|
|      7|2017-01-01 06:00:00|2017|January|  1|   6| Sunday|
|      8|2017-01-01 07:00:00|2017|January|  1|   7| Sunday|
|      9|2017-01-01 08:00:00|2017|January|  1|   8| Sunday|
|     10|2017-01-01 09:00:00|2017|January|  1|   9| Sunday|
|     11|2017-01-01 10:00:00|2017|January|  1|  10| Sunday|
|     12|2017-01-01 11:00:00|2017|January|  1|  11| Sunday|
|     13|2017-01-01 12:00:00|2017|January|  1|  12| Sunday|
|     14|2017-01-01 13:00:00|2017|January|  1|  13| Sunday|
|     15|2017-01-01 14:00:00|2017|January|  1|  14| Sunday|
|     16|2017-01-01 15:00:00|2017|January|  1|  15| Sunday|
|     17|2017-01-01 16:00:00|2017|January|  1|  16| Sunday|
|     18|2017-01-01 17:00:00|2017|January|  1|  17| Sunday|
|     19|2017-01-01 18:00:00|2017|January|  1|  18| Sunday|
|     20|2017-01-01 19:00:00|2017|January|  1|  19| Sunday|
+-------+-------------------+----+-------+---+----+-------+
only showing top 20 rows

8685

### Dimension for locations

In [8]:
dim_location = transactions.select("atm_location", "atm_streetname", "atm_street_number", 
                                   "atm_zipcode", "atm_lat", "atm_lon")\
                           .withColumnRenamed("atm_location", "location")\
                           .withColumnRenamed("atm_streetname", "streetname")\
                           .withColumnRenamed("atm_street_number", "street_number")\
                           .withColumnRenamed("atm_zipcode", "zipcode")\
                           .withColumnRenamed("atm_lat", "lat")\
                           .withColumnRenamed("atm_lon", "lon")\
                           .distinct()\
                           .withColumn("location_id", row_number().over(Window.partitionBy().orderBy(col("zipcode"))))\
                           .select("location_id", "location", "streetname",
                                  "street_number", "zipcode", "lat", "lon")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### Validate dim_location

In [9]:
dim_location.printSchema()
dim_location.show()
dim_location.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)

+-----------+--------------------+------------------+-------------+-------+------+------+
|location_id|            location|        streetname|street_number|zipcode|   lat|   lon|
+-----------+--------------------+------------------+-------------+-------+------+------+
|          1|Intern  KÃƒÂ¸benhavn|  RÃƒÂ¥dhuspladsen|           75|   1550|55.676|12.571|
|          2|        KÃƒÂ¸benhavn|    Regnbuepladsen|            5|   1550|55.676|12.571|
|          3|       Frederiksberg|   Gammel Kongevej|          157|   1850|55.677|12.537|
|          4|              Lyngby|       Jernbanevej|            6|   2800|55.772|  12.5|
|          5|        HelsingÃƒÂ¸r|    Sct. Olai Gade|           39|   3000|56.036|12.612|
|          6|         HillerÃƒÂ¸d|  KÃƒÂ¸benhavnsvej|           31|   3400|55.933|12.314|
|          7|HillerÃƒÂ¸d IdrÃƒ...|        Milnersvej|           39|   3400|55.921|12.299|
|          8|          Svogerslev|      BrÃƒÂ¸nsager|            1|   4000|55.634|12.018|
|          9|            Roskilde|  KÃƒÂ¸benhavnsvej|           65|   4000|55.642|12.106|
|         10|    Intern  Roskilde|  KÃƒÂ¸benhavnsvej|           65|   4000|55.642|12.106|
|         11|            Slagelse|Mariendals AllÃƒÂ¨|           29|   4200|55.398|11.342|
|         12|            Slagelse|   Mariendals Alle|           29|   4200|55.398|11.342|
|         13|           HolbÃƒÂ¦k|       Slotsvolden|            7|   4300|55.718|11.704|
|         14|    Intern HolbÃƒÂ¦k|       Slotsvolden|            7|   4300|55.718|11.704|
|         15|             KÃƒÂ¸ge|    SÃƒÂ¸ndre Alle|            1|   4600|55.454|12.181|
|         16|          NÃƒÂ¦stved|      Farimagsgade|            8|   4700| 55.69|12.575|
|         17|          NÃƒÂ¦stved|       Farimagsvej|            8|   4700|55.233|11.763|
|         18|      Intern  Odense|      FÃƒÂ¦lledvej|            3|   5000|55.394| 10.37|
|         19|              Odense|      FÃƒÂ¦lledvej|            3|   5000|55.394| 10.37|
|         20|          Middelfart|           Brogade|            9|   5500|55.507| 9.727|
+-----------+--------------------+------------------+-------------+-------+------+------+
only showing top 20 rows

109

### Dimension for ATMs

In [10]:
from pyspark.sql.functions import concat

dim_atm = transactions.select("atm_id", "atm_manufacturer", "atm_location", "atm_streetname", "atm_street_number", "atm_zipcode", "atm_lat", "atm_lon")\
                      .withColumnRenamed("atm_id", "atm_number")\
                      .join(other=dim_location, 
                            on=(
                                concat(col("atm_location"), col("atm_streetname"), col("atm_street_number"), 
                                       col("atm_zipcode"), col("atm_lat"), col("atm_lon")) 
                                == 
                                concat(col("location"), col("streetname"), col("street_number"), col("zipcode"), 
                                       col("lat"), col("lon"))), 
                            how="left")\
                      .select("location_id", "atm_number", "atm_manufacturer")\
                      .withColumnRenamed("location_id", "atm_location_id")\
                      .distinct()\
                      .withColumn("atm_id", row_number().over(Window.partitionBy().orderBy(col("atm_location_id"))))\
                      .select("atm_id", "atm_location_id", "atm_number", "atm_manufacturer")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### Validate dim_atm

In [11]:
dim_atm.printSchema()
dim_atm.show()
dim_atm.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- atm_id: integer (nullable = true)
 |-- atm_location_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)

+------+---------------+----------+----------------+
|atm_id|atm_location_id|atm_number|atm_manufacturer|
+------+---------------+----------+----------------+
|     1|              1|        85| Diebold Nixdorf|
|     2|              2|        95|             NCR|
|     3|              3|        47|             NCR|
|     4|              4|        44|             NCR|
|     5|              5|        46| Diebold Nixdorf|
|     6|              6|        86|             NCR|
|     7|              7|        57|             NCR|
|     8|              8|        22|             NCR|
|     9|              9|       106|             NCR|
|    10|             10|         4|             NCR|
|    11|             11|        31|             NCR|
|    12|             12|       113| Diebold Nixdorf|
|    13|             13|        90|             NCR|
|    14|             14|       110| Diebold Nixdorf|
|    15|             14|        26|             NCR|
|    16|             15|        56| Diebold Nixdorf|
|    17|             16|       112| Diebold Nixdorf|
|    18|             17|         1|             NCR|
|    19|             18|        25| Diebold Nixdorf|
|    20|             19|        98|             NCR|
+------+---------------+----------+----------------+
only showing top 20 rows

113

### Fact table

In [12]:
fact_atm_trans = transactions.select("*")\
                             .join(other=dim_card_type,
                                   on=["card_type"],
                                   how="left")\
                             .join(other=dim_date,
                                   on=["year", "month", "day", "hour", "weekday"],
                                   how="left")\
                             .withColumnRenamed("atm_location", "location")\
                             .withColumnRenamed("atm_streetname", "streetname")\
                             .withColumnRenamed("atm_street_number", "street_number")\
                             .withColumnRenamed("atm_zipcode", "zipcode")\
                             .withColumnRenamed("atm_lat", "lat")\
                             .withColumnRenamed("atm_lon", "lon")\
                             .join(other=dim_location,
                                   on=["location", "streetname", "street_number", "zipcode", "lat", "lon"],
                                   how="left")\
                             .withColumnRenamed("location_id", "atm_location_id")\
                             .withColumnRenamed("atm_id", "atm_number")\
                             .join(other=dim_atm, 
                                   on=["atm_location_id", "atm_number", "atm_manufacturer"],
                                   how="left"
                                  )\
                             .withColumnRenamed("atm_location_id", "weather_loc_id")\
                             .withColumn("trans_id", 
                                         row_number().over(
                                             Window.partitionBy().orderBy(
                                                 col("weather_loc_id"), col("date_id"), col("card_type_id"))))\
                             .select("trans_id", "weather_loc_id", "atm_id", "date_id", "card_type_id", 
                                     "atm_status", "currency", "service", "transaction_amount", "message_code", 
                                     "message_text", "rain_3h", "clouds_all", "weather_id", "weather_main", 
                                     "weather_description")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### Validate fact_atm_trans

In [13]:
fact_atm_trans.printSchema()
fact_atm_trans.show()
fact_atm_trans.select("*").count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- trans_id: integer (nullable = true)
 |-- weather_loc_id: integer (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- service: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

+--------+--------------+------+-------+------------+----------+--------+----------+------------------+------------+--------------------+-------+----------+----------+------------+-------------------+
|trans_id|weather_loc_id|atm_id|date_id|card_type_id|atm_status|currency|   service|transaction_amount|message_code|        message_text|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------+--------------+------+-------+------------+----------+--------+----------+------------------+------------+--------------------+-------+----------+----------+------------+-------------------+
|       1|             1|     1|     15|           9|    Active|     DKK|Withdrawal|              1701|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       2|             1|     1|     15|           9|    Active|     DKK|Withdrawal|              2200|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       3|             1|     1|     15|          11|    Active|     DKK|Withdrawal|               405|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       4|             1|     1|     16|           7|    Active|     DKK|Withdrawal|              1938|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       5|             1|     1|     16|          11|    Active|     DKK|Withdrawal|              3327|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       6|             1|     1|     17|           7|    Active|     DKK|Withdrawal|              8180|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       7|             1|     1|     17|           7|    Active|     DKK|Withdrawal|              2417|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       8|             1|     1|     17|           8|    Active|     DKK|Withdrawal|              2612|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|       9|             1|     1|     17|          11|    Active|     DKK|Withdrawal|              2825|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|      10|             1|     1|     17|          11|    Active|     DKK|Withdrawal|              2981|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|      11|             1|     1|     19|           1|    Active|     DKK|Withdrawal|              3897|        4002|Suspected malfunc...|    0.0|         0|       800|       Clear|       Sky is Clear|
|      12|             1|     1|     19|           9|    Active|     DKK|Withdrawal|              7301|        null|                null|    0.0|         0|       800|       Clear|       Sky is Clear|
|      13|             1|     1|     21|           8|    Active|     DKK|Withdrawal|              2746|        4002|Suspected malfunc...|    0.0|        75|       803|      Clouds|      broken clouds|
|      14|             1|     1|     21|          10|    Active|     DKK|Withdrawal|              8551|        4017|Suspected malfunc...|   null|      null|      null|        null|               null|
|      15|             1|     1|     21|          11|    Active|     DKK|Withdrawal|              9358|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|      16|             1|     1|     22|           7|    Active|     DKK|Withdrawal|              4531|        4017|Suspected malfunc...|   null|      null|      null|        null|               null|
|      17|             1|     1|     22|           7|    Active|     DKK|Withdrawal|              2381|        4002|Suspected malfunc...|    0.0|        75|       803|      Clouds|      broken clouds|
|      18|             1|     1|     22|           7|    Active|     DKK|Withdrawal|              6675|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|      19|             1|     1|     22|           8|    Active|     DKK|Withdrawal|              5980|        null|                null|    0.0|        75|       803|      Clouds|      broken clouds|
|      20|             1|     1|     22|           9|    Active|     DKK|Withdrawal|              9003|        4017|Suspected malfunc...|   null|      null|      null|        null|               null|
+--------+--------------+------+-------+------------+----------+--------+----------+------------------+------------+--------------------+-------+----------+----------+------------+-------------------+
only showing top 20 rows

2468572